@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes expandWidth {
    0% {
        width: 10vw;
    }
    100% {
        width: 30vw;
    }
}

@keyframes expand {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 80px;
        height: 80px;
    }
}

#robot {
    width: 30vw;
    height: auto;
    animation: expandWidth 1s ease-in-out ;
}

body{
    cursor: none;
}

